<!DOCTYPE html>
<html>
	<head>
		<title>Indulge Data</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<style>
			@charset "UTF-8";
			[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
				display:none !important;
			}
			ng\:form {
				display:block;
			}
			.ng-animate-shim {
				visibility:hidden;
			}
			.ng-anchor {
				position:absolute;
			}

		</style>
		<link rel="shortcut icon" href="img/shortcut-icon.ico">
		<link href="css/style.css" rel="stylesheet">
	</head>
<body class="data" ng-app="app" ng-controller="data">
	
	<div class="loading-anim pop-up" ng-show="showLoading">
		<div>
			<div id="loading">
				<div>
					<img src="img/logo_loading.png">
					<div class="progress" id="progress"></div>
				</div>
			</div>
		</div>
	</div>


	<div class="nav">
		<button class="indlg_btn" ng-click="tab=1" ng-class="(tab==1)?'active':''">Contact US</button>
		<button class="indlg_btn" ng-click="tab=2; downloads.getData();" ng-class="(tab==2)?'active':''">Resource Download</button>
	</div>
	
	<div class="body">
		<div class="tab_body" ng-cloak ng-show="(tab==1)">
			<div class="tool_box center-text">
				<div ng-show="(contacts.activeRow != null)">
					<button ng-click="contacts.deleteRow();" class="danger">Delete</button>
				</div>
			</div>
			<table>
				<thead>
					<tr>
						<th>Date</th>
						<th>Name</th>
						<th>Email</th>
						<th>Subject</th>
						<th>Message</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in contacts.data" ng-click="contacts.activeRow = $index" ng-class="(contacts.activeRow==$index)?'active':''">
						<td ng-bind="x.date | date"></td>
						<td ng-bind="x.name"></td>
						<td ng-bind="x.email"></td>
						<td ng-bind="x.subject"></td>
						<td ng-bind="x.message"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="tab_body" ng-cloak ng-show="(tab==2)">
			<div class="tool_box center-text">
				<div ng-show="(downloads.activeRow != null)">
					<button ng-click="downloads.deleteRow();" class="danger">Delete</button>
				</div>
			</div>
			<table>
				<thead>
					<tr>
						<th>Date</th>
						<th>Name</th>
						<th>Email</th>
						<th>Company</th>
						<th>Job</th>
						<th>State</th>
						<th>Resource</th>
						<th>Size of Company</th>
						<th>Hearing Channel</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in downloads.data" ng-click="downloads.activeRow = $index" ng-class="(downloads.activeRow==$index)?'active':''">
						<td ng-bind="x.date | date"></td>
						<td ng-bind="x.first_name +' '+x.last_name"></td>
						<td ng-bind="x.email"></td>
						<td ng-bind="x.company"></td>
						<td ng-bind="x.job"></td>
						<td ng-bind="x.state"></td>
						<td ng-bind="x.resource_download"></td>
						<td ng-bind="x.company_size"></td>
						<td ng-bind="x.hearing_channel"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<script src="js/angular.min.js"></script>
	<script src="js/data.js"></script>
	
</body>
</html>