<!DOCTYPE html>
<html>
	<head>
		<title>Indulge</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<style>
			@charset "UTF-8";
			[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
				display:none !important;
			}
			ng\:form {
				display:block;
			}
			.ng-animate-shim {
				visibility:hidden;
			}
			.ng-anchor {
				position:absolute;
			}

		</style>
		
		<link rel="shortcut icon" href="img/shortcut-icon.ico">
		<link href="css/style.css?ver=1" rel="stylesheet">
		
	</head>

<body data-ng-app="indulge" data-controller="main">
	
	<div class="loading-anim pop-up">
		<div>
			<div id="loading">
				<div>
					<img src="img/logo_loading.png">
					<div class="progress" id="progress"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="wrapper">
		<div class="header-nav" id="header-nav" data-ng-controller="scroll-navigation">
			<div class="innerWrapper-main no-select">
				<a href="javascript:void(0)" id="logoAnchor">
					<img src="img/logo-primary.png" class="logo-img">
				</a>
				<ul class="nav-ul noselect" id="nav-menu-main">
					<p class="smartphone-only" id="mobileMenubackBtn" data-ng-click="mobileMenu.collapse()">Swipe &#8594;</p>
					<li>Why Indulge</li>
					<li>ACTIVITIES</li>
					<li>CONCIERGE</li>
					<li>CONTACT US</li>
				</ul>
				<p class="float-right smartphone-only" id="mobile-menu-trigger" data-ng-click="mobileMenu.expand()">Menu</p>
			</div>
		</div>
	
		<div class="header-corousel" data-ng-controller="slide-gallery">
			<div class="item-container" id="header-gallery" ng-touchmove="move($event);">

				<ul ng-slider="banner">
					<li><img src="img/banner7.jpg"></li>
					<li><img src="img/banner8.jpg"></li>
					<!-- <li><img src="img/banner9.jpg"></li> -->
					<li><img src="img/banner10.jpg"></li>
					<li><img src="img/banner1.jpg"></li>
					<li><img src="img/banner2.jpg"></li>
					<li><img src="img/banner3.jpg"></li>
					<li><img src="img/banner4.jpg"></li>
					<li><img src="img/banner5.jpg"></li>
					<li><img src="img/banner6.jpg"></li>
					
				</ul>
			</div>
			
		</div>
		
		<div class="why-indulge-section parent nav-section self-clear">
			<div class="why-indulge-answers innerWrapper-main self-clear" data-ng-controller="flip-box">
				
				<div class="first-box">
					<p class="title">500+ Premium Curated Experiences</p>
					<p class="description">Great experiences make for great memories, and great memories make for great motivation. We help you keep your employees, channel partners and customers engaged through premium tailored experiences. Make your pick from Adventure, Fine Dining, Health & Sports, Lifestyle, Spa & Salon and Weekend Getaway categories on our Experiences Platform, to create a lasting and valuable impression on your audience.</p>
					
					
					<br>
					<p class="title box-title">You only trust an expert or a friend…</p>
				</div>
				
				<div class="box flipBox" ng-click="flipBox.flipIt(0)">
					<div class="front" ng-class="(flipBox.status[0].flipped == true)? 'flipped' : 'unflipped'">
						<button class="flip_icon">&#8646;</button>
						<img src="img/brain.png">
						<p class="title">BEHAVIORAL ECONOMICS</p>
					</div>
					<div class="back" ng-class="(flipBox.status[0].flipped == true)? 'unflipped' : 'flipped'">
						<button class="flip_icon">&#8646;</button>
						<p class="description">What makes us different from the run-off-the-mill engagement and loyalty solutions providers in the market is that, our ingenious solutions are built around the science of behavioral economics. The result, you know what makes your audience tick, so you can engage and motivate them better.</p>
						<p class="title">BEHAVIORAL ECONOMICS</p>
					</div>
				</div>
				
				<div class="box flipBox" ng-click="flipBox.flipIt(1)">
					<div class="front" ng-class="(flipBox.status[1].flipped == true)? 'flipped' : 'unflipped'">
						<button class="flip_icon">&#8646;</button>
						<img src="img/global.png">
						<p class="title">Global Expertise</p>
					</div>
					<div class="back" ng-class="(flipBox.status[1].flipped == true)? 'unflipped' : 'flipped'">
						<button class="flip_icon">&#8646;</button>
						<p class="description">Tap into the knowledge and expertise that comes from working in the Rewards, Recognition & Loyalty domain for 60 years, reaching 3 million participants, across 125+ countries, by collaborating with BI&nbsp;WORLDWIDE.</p>
						<p class="title">Global Expertise</p>
					</div>					
				</div>
				
				<div class="box flipBox" ng-click="flipBox.flipIt(2)">
					<div class="front" ng-class="(flipBox.status[2].flipped == true)? 'flipped' : 'unflipped'">
						<button class="flip_icon">&#8646;</button>
						<img src="img/award.png">
						<p class="title">INDUSTRY RECOGNITION</p>
					</div>
					<div class="back" ng-class="(flipBox.status[2].flipped == true)? 'unflipped' : 'flipped'">
						<button class="flip_icon">&#8646;</button>
						<p class="description">We call ourselves the industry leaders in engagement and loyalty with good reason. We recently bagged three accolades at the HR Vendors Awards organized by the World HRD Congress in Mumbai.</p>
						<p class="title">Industry Recognition</p>
					</div>					
				</div>
				
				
				<div class="box flipBox" ng-click="flipBox.flipIt(3)">
					<div class="front" ng-class="(flipBox.status[3].flipped == true)? 'flipped' : 'unflipped'">
						<button class="flip_icon">&#8646;</button>
						<img src="img/high.png">
						<p class="title">THE LARGEST ASSORTMENT OF HIGH EFFICACY REWARDS</p>
					</div>
					<div class="back" ng-class="(flipBox.status[3].flipped == true)? 'unflipped' : 'flipped'">
						<button class="flip_icon">&#8646;</button>
						<p class="description">More than 10000+ reward items, 400+ Brands, 500+ Experiences-the right mix of merchandise, vouchers, travel and experiences.</p>
						<p class="title">THE LARGEST ASSORTMENT OF HIGH EFFICACY REWARDS</p>
					</div>
				</div>
				
				<div class="box flipBox" ng-click="flipBox.flipIt(4)">
					<div class="front" ng-class="(flipBox.status[4].flipped == true)? 'flipped' : 'unflipped'">
						<button class="flip_icon">&#8646;</button>
						<img src="img/download.png">
						<p class="title">KNOW MORE RESOURCES</p>
					</div>
					<div class="back" ng-class="(flipBox.status[4].flipped == true)? 'unflipped' : 'flipped'">
						<button class="flip_icon">&#8646;</button>
						<div class="download-section">
							<button ng-click="downloadForm.show($event,'brochure')"><span class="round-icon"></span><span class="btn-text">Download Brochure</span></button>
							<!-- <button ng-click="downloadForm.show($event,'presentation')"><span class="round-icon"></span><span class="btn-text">Download Presentation</span></button> -->
							<button ng-click="downloadForm.show($event,'whitepaper')"><span class="round-icon"></span><span class="btn-text">Download Whitepapers</span></button>	
						</div>
						<p class="title">KNOW MORE RESOURCES</p>
					</div>
				</div>
							
			
				<div class="pop-up downloadForm" data-ng-show="downloadForm.shown" ng-cloak>
					<div data-ng-click="downloadForm.hide()">
						<div class="prevent-default" style="max-height:{{screenHeight}}">
							<div class="form-container" ng-click="stopPropagation($event)">
							<button class="closeBtn" data-ng-click="downloadForm.hide();">&times;</button>
							<form ng-submit="submit($event);">
								<img style="float:right;width:25px;margin-right:20px;" ng-show="showLoading" src="img/loadingAnimation.gif" ng-cloak>
								<label class="form-title">Just fill out the short form below.</label>
								<input type="text" placeholder="Name*" required>
								<input type="text" placeholder="Last Name*" required>
								<input type="text" placeholder="Company*" required>
								<input type="email" placeholder="Email Address*" required>
								<input type="text" placeholder="Job Title*" required>
								<input type="text" placeholder="State/Province*" required>
								
								<ul id="company-size" ng-class="downloadForm.companySize.class" ng-mouseleave="downloadForm.companySize.class = 'hide'">
									<input type="text" value="Size of Company" placeholder="Size of Company" ng-model="downloadForm.companySize.value">	
									<div class="arrow-down float-right" ng-click="downloadForm.companySize.class = 'show'" ng-mouseenter="downloadForm.companySize.class = 'show'">
										<div></div>
									</div>
									<li data-ng-click="downloadForm.companySize.value = x.value; downloadForm.companySize.class = 'hide'; stopPropagation($event);" ng-repeat="x in downloadForm.companySize.option" data-ng-bind="x.value"></li>
								</ul>
								
								<ul ng-class="downloadForm.hearingChannel.class" ng-mouseleave="downloadForm.hearingChannel.class = 'hide'">
									<input type="text" value="Hearing Channel" placeholder="How did you hear about us?" ng-model="downloadForm.hearingChannel.value">	
									<div class="arrow-down float-right" ng-click="downloadForm.hearingChannel.class = 'show'" ng-mouseenter="downloadForm.hearingChannel.class = 'show'">
										<div></div>
									</div>
									<li data-ng-click="downloadForm.hearingChannel.value = x.value; downloadForm.hearingChannel.class = 'hide'; stopPropagation($event);" ng-repeat="x in downloadForm.hearingChannel.option" data-ng-bind="x.value"></li>
								</ul>
								
								<input type="Submit" value="submit"></input>
								<label class="submit-info">Submitting your information allows us to reach out to you in the future.</label>
								
								<p class="error" ng-show="downloadForm.showError">Oops! Looks like we're facing a technical snag <a ng-href="{{downloadForm.url}}" download target="_blank">Please click HERE to automatically download</a>.</p>
								
							</form>
							</div>
						</div>
					</div>
				</div>
				
				<div class="pop-up submitedMessage" data-ng-show="downloadForm.submittedMessage" ng-cloak>
					<div data-ng-click="downloadForm.submittedMessage = false">
						<div class="prevent-default body" ng-click="stopPropagation($event)">
							<h2>Thank You For Showing Interest in Indulge</h2>
							Your download should begin shortly
							<p>If the download doesn't start <a ng-href="{{downloadForm.url}}" download>CLICK HERE</a></p>
						</div>
					</div>
				</div>	
			</div>
		</div>
		
		
		<div class="activities-section nav-section" data-ng-controller="activities">
			<div class="innerWrapper-main parent">
				<ul class="activities-section-menu noselect">
					<li data-ng-repeat="x in items" data-ng-bind="x.category" data-ng-class="itemMenu.getClass(x.uniqueId)" data-ng-click="itemMenu.click(x.uniqueId)"></li>
				</ul>
				
				<div class="activities-item" data-ng-repeat="x in items" ng-show="x.shown">
					<div class="activities-showcase-table self-clear">
						<div class="square-lg">
							<div class="activities-showcase">
								<img ng-src="{{x.shownItems[0].imgSrc}}">
								<div class="activities-showcase-desc">
									<div>
										<div>
											<h3>{{x.shownItems[0].name}}</h3>
											<p data-ng-bind="x.shownItems[0].desc"></p>
										</div>
									</div>
								</div>
								<p class="activities-showcase-title" data-ng-bind="x.shownItems[0].name"></p>
							</div>
						</div>
						
						<div class="square-lg">
							<div class="rect-lg">
								<div class="activities-showcase">
									<img ng-src="{{x.shownItems[1].imgSrc}}">
									<div class="activities-showcase-desc">
										<div>
											<div>
												<h3>{{x.shownItems[1].name}}</h3>
												<p data-ng-bind="x.shownItems[1].desc"></p>
											</div>
										</div>
									</div>
									<p class="activities-showcase-title" data-ng-bind="x.shownItems[1].name"></p>
								</div>			
							</div>
							<div class="rect-lg">
								<div class="square-sm activities-showcase">
									<img ng-src="{{x.shownItems[2].imgSrc}}">
									<div class="activities-showcase-desc">
										<div>
											<div>
												<h3>{{x.shownItems[2].name}}</h3>
												<p  data-ng-bind="x.shownItems[2].desc"></p>
											</div>
										</div>
									</div>
									<p class="activities-showcase-title" data-ng-bind="x.shownItems[2].name"></p>
								</div>
								<div class="square-sm activities-showcase">
									<img ng-src="{{x.shownItems[3].imgSrc}}">
									<div class="activities-showcase-desc">
										<div>
											<div>
												<h3>{{x.shownItems[3].name}}</h3>
												<p  data-ng-bind="x.shownItems[3].desc"></p>
											</div>
										</div>
									</div>
									
									<p class="activities-showcase-title" data-ng-bind="x.shownItems[3].name"></p>
								</div>
							</div>
						</div>
					</div>
					
					<div class="activities-more-showcase" style="height: 0px" data-expanded="{{x.expanded}}">
						<div class="self-clear">
							<div class="column-item" data-ng-repeat=" y in x.hiddenItems">
								<img ng-src="{{y.imgSrc}}">
								
									<div class="activities-showcase-desc">
										<div>
											<div>
												<h3>{{y.name}}</h3>
												<p data-ng-bind="y.desc"></p>
											</div>
										</div>
									</div>
								<p class="activities-showcase-title" data-ng-bind="y.name"></p>
							</div>							
						</div>						
					</div>
					
					<button class="btn_medium1 center-block show-more-btn" data-pos="{{x.uniqueId}}" ng-click="interactions.showMoreClick($event)" ng-cloak ng-show="(x.hiddenItems.length > 0)?true:false">Show More +</button>
				</div>
				
				
			</div>
		</div>
		
		<div class="concierge-section nav-section parent self-clear">
		
				<div class="concierge-box float-right">
					<h3>Delivering the Right Experience Matters to Us</h3>
					<p><strong>And that’s why we have a private and exclusive Concierge for your audience.</strong><br>Our in-house Indulge Concierge team will organize bookings with the experience partner and assist members throughout for a hassle-free experience. Our concierge team goes above and beyond to ensure that the Indulge experience is seamless, whether it is by catering to custom requests or offering on-the-day assistance.</p>
					
					<p><strong>Experiences coming your way, Redeem it your way!</strong><br>
					Our vast industry network and vendor relationships allow us to cater to custom requests with great attention to detail, and on time. Tailor the Experiential Rewards to your personal taste, comfort and liking. We fine-tune our service offerings through regular post-experience feedbacks, always looking for ways to make your experience simpler and enjoyable.</p>
					
					<p><strong>We’re willing to go the extra mile while recognizing milestones with experiential rewards. Are you ready to hop on?</strong></p>
					<br><p><i class="center-text">For more information, write to us at <a href="mailto:concierge@biworldwide.com">concierge@biworldwide.com</a>.</i></p>
					<!-- <img src="img/user_icon.png"> -->
				</div>
				
				<div class="mask"></div>
				
		</div>
		
		<div class="contactus-section nav-section" ng-controller="contact">
			<div class="innerWrapper-main parent">
				<div class="contactus-address-wrapper">
					<iframe id="youtube_video" src="https://www.youtube.com/embed/uZXwajQOL1M"></iframe>
					<div class="twitter-feed-wrapper">
						<a class="twitter-timeline" href="https://twitter.com/BIWorldwide_In">Tweets by BIWorldwide_In</a> 
						<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</div>
				
					<ul>
						<li>
							<a href="https://www.linkedin.com/company/biworldwideindia" target="_blank">
								<img src="img/linkedin-button.png">
							</a>
						</li>
						<li>
							<a href="https://twitter.com/BIWorldwide_In" target="_blank">
								<img src="img/twitter-logo-button.png">
							</a>
						</li>
						
						<li>
							<a href="https://www.facebook.com/BIWorldwideIndia" target="_blank">
								<img src="img/facebook-logo-button.png">
							</a>
						</li>
						<li>
							<a href="http://www.biworldwide.co.in/research-landing/" target="_blank">
								<img src="img/blogger-botton.png">
							</a>
						</li>
						<li>
							<a href="http://www.slideshare.net/BIWorldwideIndia/" target="_blank">
								<img src="img/slideshare-icon.png">
							</a>
						</li>
					</ul>
				</div>
				<form class="contactus-form" ng-submit="submitForm($event);">
					<label><strong>Want to get to know us more?</strong><br>Fill out the short form below and let’s get talking. </label><img style="float:right;width:25px;" ng-show="showLoading" src="img/loadingAnimation.gif" ng-cloak>
					<br><br>
					<input type="text" placeholder="Name*" required>
					<input type="email" placeholder="Email*" required>
					<input type="text" placeholder="Subject">
					<textarea placeholder="Message*" required></textarea>
					<button type="submit" class="btn_medium1">Submit</button>
				</form>
				
				<div class="pop-up contact_form_submitted" data-ng-show="showSubmitted" ng-cloak>
					<div data-ng-click="showSubmitted = false">
						<div class="prevent-default body" ng-click="stopPropagation($event)">
							<h2>Thank you for filling out the form. We'll get in touch with you shortly!</h2>
						</div>
					</div>
				</div>	
				
				<div class="pop-up contact_form_submitted" data-ng-show="showError" ng-cloak>
					<div data-ng-click="showError = false">
						<div class="prevent-default body" ng-click="stopPropagation($event)">
							<h2>We have encountered an error!</h2>
						</div>
					</div>
				</div>	
				
			</div>
		</div>
		
		<div class="footer-section">
			<div class="black-blank">
				<div class="innerWrapper-main parent self-clear">
					<p class="float-left">© <span ng-currentyear></span> BI WORLDWIDE™ All Rights Reserved.</p>
					<p class="float-right poweredBy"><span>Powered by</span> BI WORLDWIDE</p>
				</div>
			</div>
		</div>		
	</div>
	
	<!-- <div class="pop-up loading" ng-cloak>
		<div>
			<div class="body"></div>
		</div>
	</div> -->
	
	
	
	<script src="js/dynamic-data.js"></script>
	<script src="js/jquery-2.2.3.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/velocity.min.js"></script>
	<script src="bxslider/jquery.bxslider.min.js"></script>
	<script src="js/main.js?ver=1"></script>
	
		
	<script>
		var flipBoxArray = [];
		(function(){
			var flipBox = document.getElementsByClassName("flipBox");
			for(var i = 0; i < flipBox.length; i++)
			{
				flipBoxArray.push(
					{
						"id" : i,
						"flipped" : false
					}
				);
			}
		})();
		
		
		
		
	</script>
	
	
</body>
</html>