
@font-face {
    font-family: 'berthold_akzidenz_groteskBdex';
    src: url('../font/berthold_akzidenz_grotesk_be_bold_extended-webfont.woff2') format('woff2'),
         url('../font/berthold_akzidenz_grotesk_be_bold_extended-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'berthold_akzidenz_grotesk_bex';
    src: url('../font/berthold_akzidenz_grotesk_be_extended-webfont.woff2') format('woff2'),
         url('../font/berthold_akzidenz_grotesk_be_extended-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'berthold_akzidenz_groteskLtex';
    src: url('../font/berthold_akzidenz_grotesk_be_light_extended-webfont.woff2') format('woff2'),
         url('../font/berthold_akzidenz_grotesk_be_light_extended-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'berthold_akzidenz_grotesk_bLt';
    src: url('../font/berthold_akzidenz_grotesk_be_light-webfont.woff2') format('woff2'),
         url('../font/berthold_akzidenz_grotesk_be_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'berthold_akzidenz_groteskmdex';
    src: url('../font/berthold_akzidenz_grotesk_be_medium_extended-webfont.woff2') format('woff2'),
         url('../font/berthold_akzidenz_grotesk_be_medium_extended-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'berthold_akzidenz_grotesk_bmd';
    src: url('../font/berthold_akzidenz_grotesk_be_medium-webfont.woff2') format('woff2'),
         url('../font/berthold_akzidenz_grotesk_be_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'berthold_akzidenz_grotesk_bRg';
    src: url('../font/berthold_akzidenz_grotesk_be_regular-webfont.woff2') format('woff2'),
         url('../font/berthold_akzidenz_grotesk_be_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}